<div id="home">
  <h1>Home</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="mt-3" *ngIf="loading">
        <app-loading-state></app-loading-state>
      </div>

      <div class="mt-3" *ngIf="!loading">
        <p>This is the UI for the DAZN technical assessment, completed by Niall MacTaggart</p>
        <p>The link below will show a video stored on the backend, if you close this tab/page or click back, the idea is that there will be a call to the backend to remove this stream from memory.</p>

        <div class="form-group">
          <label for="userID">User ID</label>
          <div *ngIf="validationError" class="validation-message">Please input a valid user ID.</div>
          <input type="text" [(ngModel)]="userID" class="form-control user-id-input" id="userID" name="userID" placeholder="Enter ID">

        </div>

        <div class="mt-3">
          <button type="button" (click)="watchVideo()" class="btn btn-success mr-2">Watch</button>
          <button type="button" (click)="getCurrentStreams()" class="btn btn-warning">Get Streams</button>
        </div>

        <ul class="list-group d-inline-block mt-3" *ngIf="streams.length > 0">
          <li class="list-group-item list-group-item-primary">Streams</li>
          <li class="list-group-item" *ngFor="let stream of streams">{{stream}}</li>
        </ul>

      </div>
    </div>
  </div>
</div>
