

<app-back-link></app-back-link>

<div id="dazn-video" class="mt-5" *ngIf="!loading && !error">
    <video id="videoPlayer" width="650" controls muted="muted" autoplay>
        <source src="{{ 'https://localhost:2020/video?userID='+ userID + '&streamID=' + streamID }}" type="video/mp4" (error)="videoErrorHandler()"/>
    </video>
</div>

<div *ngIf="loading" class="mt-5">
    <app-loading-state></app-loading-state>
</div>

<div *ngIf="!loading && error">
    <app-error-state [message]="error"></app-error-state>
</div>

